*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    
}
nav img{
    width: 150px;
    height: 130px;
}
nav li {
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}
nav li a{
    color: white;
}
h1{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.marcas{
    text-align: center;
}
.imagenesmarcas{
width: 100px;
height: 100px;
}
.formasdepago{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.pagos{
    text-align: center;
    margin-bottom: 20px;
}
.imagenpago{
    width:500px;
    height: 500px;
}
.sobrenosotros{
    border: solid 5px black;
    background-color: grey;
}
.mapa{
    width:100px;
    height: 100px;
}
.barradeproductos{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    border: solid darkblue 5px;
    font-size:x-large;
    font-style: italic;
    
}
.barradeproductos li a{
    text-decoration: none;
    color:black;
}
.barradeproductos li a:hover{
    font-size: 30px;
}
.tituloproductos{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.tituloproductos h2{
    margin-left:30%;
    margin-right: 30%;
    border: solid 5px black;
}
.productos{
    display: flex;
    justify-content: space-around;
    
} 
.productos img{
    width: 250px;
    height: 190px;
}
.logogrande{
    width:100%;
    height: 350px;
}
.formulario{
    background-color: gray;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom:50px ;
    border: 2px solid black;
    border-radius: 3%;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:50px;}
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
footer p{
    color: white;
}
@media (max-width: 800px){
    nav{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
.imagenpago{
    width: 300px;
    height: 300px;
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productos img{
    width: 200px;
    height: 190px;
    
}
}
